<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">
        <activity
            android:name=".optionMenuEx"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contextMenuExample"
            android:exported="true">

        </activity>
        <activity
            android:name=".listviewEx"
            android:exported="true"></activity>
        <activity
            android:name=".PopupMenu"
            android:exported="true" />
        <activity
            android:name=".CustomAlertDialog"
            android:exported="true" />
        <activity
            android:name=".AlertDialog"
            android:exported="true" />
        <activity
            android:name=".Animation"
            android:exported="true" />
        <activity
            android:name=".Permission2"
            android:exported="true" />
        <activity
            android:name=".Permission"
            android:exported="true" />
        <activity
            android:name=".ImageTransfer2"
            android:exported="true" />
        <activity
            android:name=".ImageTransfer1"
            android:exported="true" />
        <activity
            android:name=".Counter"
            android:exported="true" />
        <activity
            android:name=".RadioButtonExample"
            android:exported="true" />
        <activity
            android:name=".Appchooser"
            android:exported="true" />
        <activity
            android:name=".DynamicViewEx"
            android:exported="true" />
        <activity
            android:name=".ExplicitIntetntDatatransfer2"
            android:exported="false" />
        <activity
            android:name=".ExplicitIntentDataTransfer1"
            android:exported="true" />
        <activity
            android:name=".PickerExample"
            android:exported="true" />
        <activity
            android:name=".ExplicitIntent2"
            android:exported="false" />
        <activity
            android:name=".ExplicitIntent1"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntent"
            android:exported="true" />
        <activity
            android:name=".RegForm"
            android:exported="true" />
        <activity
            android:name=".SpinnerExample"
            android:exported="true" />
        <activity
            android:name=".SnackBar"
            android:exported="true" />
        <activity
            android:name=".SimpleCalculator"
            android:exported="true" />
        <activity
            android:name=".AppLocalization"
            android:exported="true" />
        <activity
            android:name=".imageView"
            android:exported="true" />
        <activity
            android:name=".ImageBtn"
            android:exported="true" />
        <activity
            android:name=".EditTextEx"
            android:exported="true" />
        <activity
            android:name=".Horizontalscroll"
            android:exported="true" />
        <activity
            android:name=".CheckBoxExample"
            android:exported="true" />
        <activity
            android:name=".Android_Life_Cycle"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>